* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  background-color: #fce5a4;
  color: #404040;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 2rem;
}

.App{
  display: flex;
  flex-direction: row;
}
.player{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 75px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #6BA292;
  animation-duration: 0.2s;
}
.active{
  animation-name: example;

}
.title{
  width: 100%;
  display: flex;
  justify-content: center;

}

@keyframes example {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }

}

h1 {
  margin: 2rem;
}
.game-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container{
  display: flex;
  flex-direction: row;
  position: relative;
}
.choose{
  display: flex;
  width: 100vh;
  justify-content: space-evenly;
}
.button{
  width: 225px;
  height: 60px;
  background-color: #6BA292 ;
  color:#272727;
  border:none;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
}

.endgame{
  display: block;
  position: absolute;
  background-color:#6BA292;
  width: 300px;
  padding: 5px;
  line-height:48px;
  text-align: center;
  border:solid 6px #272727;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 600;
  opacity: 1;
  
}
.show{
  display:block
}

.endgame-container{
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  color:#272727;
  width:300px;
  top:105px;
  left:285px;
  z-index:1;
}
.restart{
  top: 73px;
  cursor:pointer;
}
.opacity{
  opacity: .5;
}
.win{
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
}

.board-container{
  display: flex;
  justify-content: center
}

.board {
  border: 1rem solid #6BA292;
  border-radius: 20px;
  background: #6BA292;
  width: 350px;
  height: 350px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 1rem;
}

.squares {
  background: #272727;
  border: none;
  font-size: 5rem;
  cursor: pointer;
  outline: none;
  /* color:#FFdc7c */
  color:white
}

.info-wrapper {
  display: flex;
  justify-content: center;
  width: 250px;
}

h3 {
  padding: 1rem;
}

li {
  list-style: none;
}

.info-wrapper button {
  background: #272727;
  color: white;
  border: none;
  border-radius: 5px;
  height: 33px;
  outline: none;
  cursor: pointer;
  padding: 0.5rem;
  margin: 0.5rem 1rem;
}
